@model BusinessModels.BusinessDetails

@{
    ViewBag.Title = "BusinessDetailsToPdf";
}

<h2>BusinessDetailsToPdf</h2>

<div>
    <h4>BusinessDetails</h4>
    <hr />
    <dl class="dl-horizontal">

        <div class="image-container">
            <img src="path/to/image1.jpg" alt="Image 1">
        </div>

        <div class="image-container">
            <img src="~/Content/Images/Trinity Logo.png" alt="trinity-logo">
        </div>

    </dl>
</div>
